@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode */
:root {
    --icon-color-dark: #ffffff; 
}
/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
      --icon-color-light: #000000; /* Black color for light mode */
    }
  }
.avatar {
    box-shadow: 0 0 20px #fff;
    animation: slideTop 1s ease forwards;
}
.logo {
  animation: slideRight 1s ease forwards;
}
.logo2 {
  animation: slideLeft 1s ease forwards;
}
.navigation .link{
  animation: slideBottom 1s ease forwards;
}
.head1 {
  animation: slideLeft 1s ease forwards;
}
.text1 {
  animation: slideLeft 1s ease forwards;
}
.head2 {
  animation: slideRight 1s ease forwards;
}
.slidetop {
  animation: slideTop 1s ease forwards;
}
.icon {
  animation: slideRight 1s ease forwards;
}
.btn {
  animation: slideTop 1s ease forwards;
}
.head3 {
  animation: slideBottom 1s ease forwards;
}
.softkill-container {
  animation: slideRight 1s ease forwards;
}
.hardskill-container {
  animation: slideLeft 1s ease forwards;
}
.card {
  transition: 0.5s;
  animation: slideTop 1s ease forwards;
}
.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.svg-icon {
    fill: var(--icon-color-dark);
}

.project-card {
  position: relative;
  width: 350px; /* Ya jo bhi aapki card ki width ho */
  height: 500px; /* Ya jo bhi aapki card ki height ho */
  overflow: hidden;
  border-radius: 15px;
  animation: slideTop 1s ease forwards;
}

.image {
  width: 350px;
  height: 500px;
  transition: transform 0.3s ease;
}

.project-card:hover .text-overlay {
  position: absolute;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 500px;
  align-items: center;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.3s ease;
  text-align: center;
}

.project-card:hover .image {
  transform: scale(1.1);
}
@media (prefers-color-scheme: light) {
    .svg-icon {
      fill: var(--icon-color-light); /* Change to light mode color when in light mode */
    }
  }

  @keyframes slideRight {
    0% {
       transform: translateX(-100px);
       opacity: 0;
    }
    100% {
       transform: translateX(0px);
       opacity: 1;
    }
    
 }
 @keyframes slideLeft {
    0% {
       transform: translateX(100px);
       opacity: 0;
    }
    100% {
       transform: translateX(0px);
       opacity: 1;
    }
    
 }
 @keyframes slideTop {
    0% {
       transform: translateY(100px);
       opacity: 0;
    }
    100% {
       transform: translateY(0px);
       opacity: 1;
    }
    
 }
 @keyframes slideBottom {
    0% {
       transform: translateY(-100px);
       opacity: 0;
    }
    100% {
       transform: translateY(0px);
       opacity: 1;
    }
    
 }
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: orangered; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orangered; 
}   