@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode */
:root {
    --icon-color-dark: #ffffff; 
}
/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
      --icon-color-light: #000000; /* Black color for light mode */
    }
  }


  
.avatar {
    box-shadow: 0 0 20px #fff;
    animation: slideTop 1s ease forwards;
}
.logo {
  animation: slideRight 1s ease forwards;
}
.logo2 {
  animation: slideLeft 1s ease forwards;
}
.navigation .link{
  animation: slideBottom 1s ease forwards;
}
.head1 {
  animation: slideLeft 1s ease forwards;
}
.text1 {
  animation: slideLeft 1s ease forwards;
}
.head2 {
  animation: slideRight 1s ease forwards;
}
.slidetop {
  animation: slideTop 1s ease forwards;
}
.icon {
  animation: slideRight 1s ease forwards;
}
.btn {
  animation: slideTop 1s ease forwards;
}
.head3 {
  animation: slideBottom 1s ease forwards;
}
.softkill-container {
  animation: slideRight 1s ease forwards;
}
.hardskill-container {
  animation: slideLeft 1s ease forwards;
}
.card {
  transition: 0.5s;
  animation: slideTop 1s ease forwards;
}
.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.svg-icon {
    fill: var(--icon-color-dark);
}

.project-card {
  position: relative;
  width: 350px; /* Ya jo bhi aapki card ki width ho */
  height: 500px; /* Ya jo bhi aapki card ki height ho */
  overflow: hidden;
  border-radius: 15px;
  animation: slideTop 1s ease forwards;
}

.image {
  width: 350px;
  height: 500px;
  transition: transform 0.3s ease;
}

.project-card:hover .text-overlay {
  position: absolute;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 500px;
  align-items: center;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.3s ease;
  text-align: center;
}

.project-card:hover .image {
  transform: scale(1.1);
}
@media (prefers-color-scheme: light) {
    .svg-icon {
      fill: var(--icon-color-light); /* Change to light mode color when in light mode */
    }
  }

  @keyframes slideRight {
    0% {
       transform: translateX(-100px);
       opacity: 0;
    }
    100% {
       transform: translateX(0px);
       opacity: 1;
    }
    
 }
 @keyframes slideLeft {
    0% {
       transform: translateX(100px);
       opacity: 0;
    }
    100% {
       transform: translateX(0px);
       opacity: 1;
    }
    
 }
 @keyframes slideTop {
    0% {
       transform: translateY(100px);
       opacity: 0;
    }
    100% {
       transform: translateY(0px);
       opacity: 1;
    }
    
 }
 @keyframes slideBottom {
    0% {
       transform: translateY(-100px);
       opacity: 0;
    }
    100% {
       transform: translateY(0px);
       opacity: 1;
    }
    
 }
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: orangered; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orangered; 
}

.domain-card {
background: transparent;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.home,.domain,.project { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23000336%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%234c4e72%22 stroke-width=%222%22 fill=%22none%22 mask=%22url(%23b)%22%3E%3Cpath d=%22M0 0h71v71H0zM71 0h71v71H71zM142 0h71v71h-71zM213 0h71v71h-71zM284 0h71v71h-71zM355 0h71v71h-71zM426 0h71v71h-71zM497 0h71v71h-71zM568 0h71v71h-71zM639 0h71v71h-71zM710 0h71v71h-71zM781 0h71v71h-71zM852 0h71v71h-71zM923 0h71v71h-71zM994 0h71v71h-71zM1065 0h71v71h-71zM1136 0h71v71h-71zM1207 0h71v71h-71zM1278 0h71v71h-71zM1349 0h71v71h-71zM1420 0h71v71h-71zM1491 0h71v71h-71zM1562 0h71v71h-71zM1633 0h71v71h-71zM1704 0h71v71h-71zM1775 0h71v71h-71zM1846 0h71v71h-71zM1917 0h71v71h-71zM0 71h71v71H0zM71 71h71v71H71zM142 71h71v71h-71zM213 71h71v71h-71zM284 71h71v71h-71zM355 71h71v71h-71zM426 71h71v71h-71zM497 71h71v71h-71zM568 71h71v71h-71zM639 71h71v71h-71zM710 71h71v71h-71zM781 71h71v71h-71zM852 71h71v71h-71zM923 71h71v71h-71zM994 71h71v71h-71zM1065 71h71v71h-71zM1136 71h71v71h-71zM1207 71h71v71h-71zM1278 71h71v71h-71zM1349 71h71v71h-71zM1420 71h71v71h-71zM1491 71h71v71h-71zM1562 71h71v71h-71zM1633 71h71v71h-71zM1704 71h71v71h-71zM1775 71h71v71h-71zM1846 71h71v71h-71zM1917 71h71v71h-71zM0 142h71v71H0zM71 142h71v71H71zM142 142h71v71h-71zM213 142h71v71h-71zM284 142h71v71h-71zM355 142h71v71h-71zM426 142h71v71h-71zM497 142h71v71h-71zM568 142h71v71h-71zM639 142h71v71h-71zM710 142h71v71h-71zM781 142h71v71h-71zM852 142h71v71h-71zM923 142h71v71h-71zM994 142h71v71h-71zM1065 142h71v71h-71zM1136 142h71v71h-71zM1207 142h71v71h-71zM1278 142h71v71h-71zM1349 142h71v71h-71zM1420 142h71v71h-71zM1491 142h71v71h-71zM1562 142h71v71h-71zM1633 142h71v71h-71zM1704 142h71v71h-71zM1775 142h71v71h-71zM1846 142h71v71h-71zM1917 142h71v71h-71zM0 213h71v71H0zM71 213h71v71H71zM142 213h71v71h-71zM213 213h71v71h-71zM284 213h71v71h-71zM355 213h71v71h-71zM426 213h71v71h-71zM497 213h71v71h-71zM568 213h71v71h-71zM639 213h71v71h-71zM710 213h71v71h-71zM781 213h71v71h-71zM852 213h71v71h-71zM923 213h71v71h-71zM994 213h71v71h-71zM1065 213h71v71h-71zM1136 213h71v71h-71zM1207 213h71v71h-71zM1278 213h71v71h-71zM1349 213h71v71h-71zM1420 213h71v71h-71zM1491 213h71v71h-71zM1562 213h71v71h-71zM1633 213h71v71h-71zM1704 213h71v71h-71zM1775 213h71v71h-71zM1846 213h71v71h-71zM1917 213h71v71h-71zM0 284h71v71H0zM71 284h71v71H71zM142 284h71v71h-71zM213 284h71v71h-71zM284 284h71v71h-71zM355 284h71v71h-71zM426 284h71v71h-71zM497 284h71v71h-71zM568 284h71v71h-71zM639 284h71v71h-71zM710 284h71v71h-71zM781 284h71v71h-71zM852 284h71v71h-71zM923 284h71v71h-71zM994 284h71v71h-71zM1065 284h71v71h-71zM1136 284h71v71h-71zM1207 284h71v71h-71zM1278 284h71v71h-71zM1349 284h71v71h-71zM1420 284h71v71h-71zM1491 284h71v71h-71zM1562 284h71v71h-71zM1633 284h71v71h-71zM1704 284h71v71h-71zM1775 284h71v71h-71zM1846 284h71v71h-71zM1917 284h71v71h-71zM0 355h71v71H0zM71 355h71v71H71zM142 355h71v71h-71zM213 355h71v71h-71zM284 355h71v71h-71zM355 355h71v71h-71zM426 355h71v71h-71zM497 355h71v71h-71zM568 355h71v71h-71zM639 355h71v71h-71zM710 355h71v71h-71zM781 355h71v71h-71zM852 355h71v71h-71zM923 355h71v71h-71zM994 355h71v71h-71zM1065 355h71v71h-71zM1136 355h71v71h-71zM1207 355h71v71h-71zM1278 355h71v71h-71zM1349 355h71v71h-71zM1420 355h71v71h-71zM1491 355h71v71h-71zM1562 355h71v71h-71zM1633 355h71v71h-71zM1704 355h71v71h-71zM1775 355h71v71h-71zM1846 355h71v71h-71zM1917 355h71v71h-71zM0 426h71v71H0zM71 426h71v71H71zM142 426h71v71h-71zM213 426h71v71h-71zM284 426h71v71h-71zM355 426h71v71h-71zM426 426h71v71h-71zM497 426h71v71h-71zM568 426h71v71h-71zM639 426h71v71h-71zM710 426h71v71h-71zM781 426h71v71h-71zM852 426h71v71h-71zM923 426h71v71h-71zM994 426h71v71h-71zM1065 426h71v71h-71zM1136 426h71v71h-71zM1207 426h71v71h-71zM1278 426h71v71h-71zM1349 426h71v71h-71zM1420 426h71v71h-71zM1491 426h71v71h-71zM1562 426h71v71h-71zM1633 426h71v71h-71zM1704 426h71v71h-71zM1775 426h71v71h-71zM1846 426h71v71h-71zM1917 426h71v71h-71zM0 497h71v71H0zM71 497h71v71H71zM142 497h71v71h-71zM213 497h71v71h-71zM284 497h71v71h-71zM355 497h71v71h-71zM426 497h71v71h-71zM497 497h71v71h-71zM568 497h71v71h-71zM639 497h71v71h-71zM710 497h71v71h-71zM781 497h71v71h-71zM852 497h71v71h-71zM923 497h71v71h-71zM994 497h71v71h-71zM1065 497h71v71h-71zM1136 497h71v71h-71zM1207 497h71v71h-71zM1278 497h71v71h-71zM1349 497h71v71h-71zM1420 497h71v71h-71zM1491 497h71v71h-71zM1562 497h71v71h-71zM1633 497h71v71h-71zM1704 497h71v71h-71zM1775 497h71v71h-71zM1846 497h71v71h-71zM1917 497h71v71h-71zM0 568h71v71H0zM71 568h71v71H71zM142 568h71v71h-71zM213 568h71v71h-71zM284 568h71v71h-71zM355 568h71v71h-71zM426 568h71v71h-71zM497 568h71v71h-71zM568 568h71v71h-71zM639 568h71v71h-71zM710 568h71v71h-71zM781 568h71v71h-71zM852 568h71v71h-71zM923 568h71v71h-71zM994 568h71v71h-71zM1065 568h71v71h-71zM1136 568h71v71h-71zM1207 568h71v71h-71zM1278 568h71v71h-71zM1349 568h71v71h-71zM1420 568h71v71h-71zM1491 568h71v71h-71zM1562 568h71v71h-71zM1633 568h71v71h-71zM1704 568h71v71h-71zM1775 568h71v71h-71zM1846 568h71v71h-71zM1917 568h71v71h-71zM0 639h71v71H0zM71 639h71v71H71zM142 639h71v71h-71zM213 639h71v71h-71zM284 639h71v71h-71zM355 639h71v71h-71zM426 639h71v71h-71zM497 639h71v71h-71zM568 639h71v71h-71zM639 639h71v71h-71zM710 639h71v71h-71zM781 639h71v71h-71zM852 639h71v71h-71zM923 639h71v71h-71zM994 639h71v71h-71zM1065 639h71v71h-71zM1136 639h71v71h-71zM1207 639h71v71h-71zM1278 639h71v71h-71zM1349 639h71v71h-71zM1420 639h71v71h-71zM1491 639h71v71h-71zM1562 639h71v71h-71zM1633 639h71v71h-71zM1704 639h71v71h-71zM1775 639h71v71h-71zM1846 639h71v71h-71zM1917 639h71v71h-71zM0 710h71v71H0zM71 710h71v71H71zM142 710h71v71h-71zM213 710h71v71h-71zM284 710h71v71h-71zM355 710h71v71h-71zM426 710h71v71h-71zM497 710h71v71h-71zM568 710h71v71h-71zM639 710h71v71h-71zM710 710h71v71h-71zM781 710h71v71h-71zM852 710h71v71h-71zM923 710h71v71h-71zM994 710h71v71h-71zM1065 710h71v71h-71zM1136 710h71v71h-71zM1207 710h71v71h-71zM1278 710h71v71h-71zM1349 710h71v71h-71zM1420 710h71v71h-71zM1491 710h71v71h-71zM1562 710h71v71h-71zM1633 710h71v71h-71zM1704 710h71v71h-71zM1775 710h71v71h-71zM1846 710h71v71h-71zM1917 710h71v71h-71zM0 781h71v71H0zM71 781h71v71H71zM142 781h71v71h-71zM213 781h71v71h-71zM284 781h71v71h-71zM355 781h71v71h-71zM426 781h71v71h-71zM497 781h71v71h-71zM568 781h71v71h-71zM639 781h71v71h-71zM710 781h71v71h-71zM781 781h71v71h-71zM852 781h71v71h-71zM923 781h71v71h-71zM994 781h71v71h-71zM1065 781h71v71h-71zM1136 781h71v71h-71zM1207 781h71v71h-71zM1278 781h71v71h-71zM1349 781h71v71h-71zM1420 781h71v71h-71zM1491 781h71v71h-71zM1562 781h71v71h-71zM1633 781h71v71h-71zM1704 781h71v71h-71zM1775 781h71v71h-71zM1846 781h71v71h-71zM1917 781h71v71h-71zM0 852h71v71H0zM71 852h71v71H71zM142 852h71v71h-71zM213 852h71v71h-71zM284 852h71v71h-71zM355 852h71v71h-71zM426 852h71v71h-71zM497 852h71v71h-71zM568 852h71v71h-71zM639 852h71v71h-71zM710 852h71v71h-71zM781 852h71v71h-71zM852 852h71v71h-71zM923 852h71v71h-71zM994 852h71v71h-71zM1065 852h71v71h-71zM1136 852h71v71h-71zM1207 852h71v71h-71zM1278 852h71v71h-71zM1349 852h71v71h-71zM1420 852h71v71h-71zM1491 852h71v71h-71zM1562 852h71v71h-71zM1633 852h71v71h-71zM1704 852h71v71h-71zM1775 852h71v71h-71zM1846 852h71v71h-71zM1917 852h71v71h-71zM0 923h71v71H0zM71 923h71v71H71zM142 923h71v71h-71zM213 923h71v71h-71zM284 923h71v71h-71zM355 923h71v71h-71zM426 923h71v71h-71zM497 923h71v71h-71zM568 923h71v71h-71zM639 923h71v71h-71zM710 923h71v71h-71zM781 923h71v71h-71zM852 923h71v71h-71zM923 923h71v71h-71zM994 923h71v71h-71zM1065 923h71v71h-71zM1136 923h71v71h-71zM1207 923h71v71h-71zM1278 923h71v71h-71zM1349 923h71v71h-71zM1420 923h71v71h-71zM1491 923h71v71h-71zM1562 923h71v71h-71zM1633 923h71v71h-71zM1704 923h71v71h-71zM1775 923h71v71h-71zM1846 923h71v71h-71zM1917 923h71v71h-71zM0 994h71v71H0zM71 994h71v71H71zM142 994h71v71h-71zM213 994h71v71h-71zM284 994h71v71h-71zM355 994h71v71h-71zM426 994h71v71h-71zM497 994h71v71h-71zM568 994h71v71h-71zM639 994h71v71h-71zM710 994h71v71h-71zM781 994h71v71h-71zM852 994h71v71h-71zM923 994h71v71h-71zM994 994h71v71h-71zM1065 994h71v71h-71zM1136 994h71v71h-71zM1207 994h71v71h-71zM1278 994h71v71h-71zM1349 994h71v71h-71zM1420 994h71v71h-71zM1491 994h71v71h-71zM1562 994h71v71h-71zM1633 994h71v71h-71zM1704 994h71v71h-71zM1775 994h71v71h-71zM1846 994h71v71h-71zM1917 994h71v71h-71zM0 1065h71v71H0zM71 1065h71v71H71zM142 1065h71v71h-71zM213 1065h71v71h-71zM284 1065h71v71h-71zM355 1065h71v71h-71zM426 1065h71v71h-71zM497 1065h71v71h-71zM568 1065h71v71h-71zM639 1065h71v71h-71zM710 1065h71v71h-71zM781 1065h71v71h-71zM852 1065h71v71h-71zM923 1065h71v71h-71zM994 1065h71v71h-71zM1065 1065h71v71h-71zM1136 1065h71v71h-71zM1207 1065h71v71h-71zM1278 1065h71v71h-71zM1349 1065h71v71h-71zM1420 1065h71v71h-71zM1491 1065h71v71h-71zM1562 1065h71v71h-71zM1633 1065h71v71h-71zM1704 1065h71v71h-71zM1775 1065h71v71h-71zM1846 1065h71v71h-71zM1917 1065h71v71h-71zM0 1136h71v71H0zM71 1136h71v71H71zM142 1136h71v71h-71zM213 1136h71v71h-71zM284 1136h71v71h-71zM355 1136h71v71h-71zM426 1136h71v71h-71zM497 1136h71v71h-71zM568 1136h71v71h-71zM639 1136h71v71h-71zM710 1136h71v71h-71zM781 1136h71v71h-71zM852 1136h71v71h-71zM923 1136h71v71h-71zM994 1136h71v71h-71zM1065 1136h71v71h-71zM1136 1136h71v71h-71zM1207 1136h71v71h-71zM1278 1136h71v71h-71zM1349 1136h71v71h-71zM1420 1136h71v71h-71zM1491 1136h71v71h-71zM1562 1136h71v71h-71zM1633 1136h71v71h-71zM1704 1136h71v71h-71zM1775 1136h71v71h-71zM1846 1136h71v71h-71zM1917 1136h71v71h-71zM0 1207h71v71H0zM71 1207h71v71H71zM142 1207h71v71h-71zM213 1207h71v71h-71zM284 1207h71v71h-71zM355 1207h71v71h-71zM426 1207h71v71h-71zM497 1207h71v71h-71zM568 1207h71v71h-71zM639 1207h71v71h-71zM710 1207h71v71h-71zM781 1207h71v71h-71zM852 1207h71v71h-71zM923 1207h71v71h-71zM994 1207h71v71h-71zM1065 1207h71v71h-71zM1136 1207h71v71h-71zM1207 1207h71v71h-71zM1278 1207h71v71h-71zM1349 1207h71v71h-71zM1420 1207h71v71h-71zM1491 1207h71v71h-71zM1562 1207h71v71h-71zM1633 1207h71v71h-71zM1704 1207h71v71h-71zM1775 1207h71v71h-71zM1846 1207h71v71h-71zM1917 1207h71v71h-71zM0 1278h71v71H0zM71 1278h71v71H71zM142 1278h71v71h-71zM213 1278h71v71h-71zM284 1278h71v71h-71zM355 1278h71v71h-71zM426 1278h71v71h-71zM497 1278h71v71h-71zM568 1278h71v71h-71zM639 1278h71v71h-71zM710 1278h71v71h-71zM781 1278h71v71h-71zM852 1278h71v71h-71zM923 1278h71v71h-71zM994 1278h71v71h-71zM1065 1278h71v71h-71zM1136 1278h71v71h-71zM1207 1278h71v71h-71zM1278 1278h71v71h-71zM1349 1278h71v71h-71zM1420 1278h71v71h-71zM1491 1278h71v71h-71zM1562 1278h71v71h-71zM1633 1278h71v71h-71zM1704 1278h71v71h-71zM1775 1278h71v71h-71zM1846 1278h71v71h-71zM1917 1278h71v71h-71zM0 1349h71v71H0zM71 1349h71v71H71zM142 1349h71v71h-71zM213 1349h71v71h-71zM284 1349h71v71h-71zM355 1349h71v71h-71zM426 1349h71v71h-71zM497 1349h71v71h-71zM568 1349h71v71h-71zM639 1349h71v71h-71zM710 1349h71v71h-71zM781 1349h71v71h-71zM852 1349h71v71h-71zM923 1349h71v71h-71zM994 1349h71v71h-71zM1065 1349h71v71h-71zM1136 1349h71v71h-71zM1207 1349h71v71h-71zM1278 1349h71v71h-71zM1349 1349h71v71h-71zM1420 1349h71v71h-71zM1491 1349h71v71h-71zM1562 1349h71v71h-71zM1633 1349h71v71h-71zM1704 1349h71v71h-71zM1775 1349h71v71h-71zM1846 1349h71v71h-71zM1917 1349h71v71h-71z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}
 